:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--light);
}

.h1 {
    font-size: 2.25rem;
}

.p {
    font-size: 0.75rem;
}

.card {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.desktop-only {
    display: none;
}

img {
    width: 250px;
}

@media only screen and (prefers-color-scheme: dark) {
    html {
        color: white;
    }

    body {
        background-color: black;
    }
}

@media only screen and (min-width: 700px) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 768px) {
    .desktop-only {
        display: block;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 140%;
    }
}